.wizard {
  position: absolute;
  z-index: 10000;
  bottom: 0;
  right: 40px;
  border: 1px solid #ccc;
  border-bottom: 0;
  background: white;
  padding: 20px;
  width: 600px;
}

.default-messages {
  padding-bottom: 20px;
}

.scrolls-view {
  max-height: 400px;
  min-height: 100px;
  overflow-y: scroll;
}

.sayanything-box {
  width: 500px;
}